@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.font-familey{
    font-family: "Poppins", sans-serif;
}

/* nav styles  */

.contaner{
 width: 1250px;
height: 550px;
border: 2px solid blue;
background-color: rgb(38, 70, 83);
color: white;
}
.nav-bar{
    width: 1000px;
    height: 50px;
    /* border: 2px solid red; */
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    
}
.nav{
    color: white;
}
.nav-opson{
    display: flex;
    gap: 10px;
    color: white;
}
.btn{
 width: 100px;
height: 50px;
background-color: rgb(231, 111, 81);
color: white;
border: none;
border-radius: 5px;

}
/* banner sections styles */
.banner-contan{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

}
.banner-text{
    width: 400px;
    height: 300px;
    /* border: 2px solid blue ; */
    margin-left: 100px;
    margin-top: 40px;
}
.banner-text button{
 width: 150px;
height: 44px;
background-color:rgb(231, 111, 81) ;
border: none;
color: white;
}
.banner-image{
  width: 500px;
    height: 400px;
    /* border: 2px solid blue ; */
    margin-right: 60px;
    margin-top: 30px;
}
.banner-image img{
  width: 500px;
}
.text{
   text-align: center;
}
.text h5{
    color: red;
}

.second-section-image img{
    /* border: 2px solid red; */
    margin-left: 90px;
   

}










.ham-burger{
    display: none;
}

@media screen and (max-width: 500px) {
    .nav-opson{
        display: none;
    }
    .contaner{
        width: 400px;
        height: 800px;
    }
    .ham-burger{
        display: block;
        
    }
    .nav-bar{
        width: 400px;
        margin: 0;
    }
    .banner-contan{
        flex-direction: column;
    }
    .banner-text{
        margin: 0;
        width: 400px;
    }
    .banner-image img{
        width: 400px;
    }
    .banner-image{
        width: 400px;
    }
    .second-section-image img{
       margin-top: 60px;
    }
}