@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.font-familey{
    font-family: "Poppins", sans-serif;
}

/* nav styles  */
.nav-bar{
    width: 1000px;
    height: 50px;
    border: 2px solid red;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    
}
.nav-opson{
    display: flex;
    gap: 10px;
}
.btn{
 width: 100px;
height: 50px;
background-color: rgb(231, 111, 81);
color: white;
border: none;
border-radius: 5px;

}